.whatsContainer{
    background-color: #075E54;
    width: 20%;
    height: 3em;
    position: fixed;
    right: 2%;
    top: 92%;
    color: white;
    cursor: pointer;

}

@media (max-width:768px) {
    .whatsContainer{
        width: 3em;
        height: 3em;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span:last-child{
            display: none;
     
        }
        svg{
            position: absolute;
            top: 25%;
            left: 25%;
        }
    }
}