.buttonUi{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 24px;
    border:3px solid  var(--colors-error-600);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s ease-in;
    color: var(--colors-error-600);
}
.buttonUi:hover{
    cursor: pointer;
    background-color: var(--colors-error-600);
    color: var(--colors-secondary-100);
}
.buttonMain{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in;
    svg{
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }

}

.buttonRead{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in;
    cursor: pointer;
    span{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: imprima;
        color: #6C4B27;
        svg{
            margin-left: 16px;
        }
    }
}
.buttonMain.buttonRead :hover{
    cursor: pointer;
}
.buttonRead:hover{
    transform-origin: left center; 
    transform: scaleX(1.1);
}
@media (max-width:780px) {
    .buttonMain{
        font-size: 12px;
    }
}