.inspirationContainer{
    .title {
        width: 100%;
        height: 28em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        h1{
          font-family: "imprint MT shadow";
          z-index: 2;
          color: var(--colors-secondary-50);
        }
        img{
            width: 100%;
            height: 28em;
            position: absolute;
            z-index: 1;
        }
      }
}
.description{
    width: 100%;
    height: 28em;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    padding-top: 2em;
    h2{
        
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.buttonCard{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2em;
    .buttonItem:first-child {
        color: white;
    }
    .buttonItem:last-child {
        border: solid 1px black;
        border-radius: 10px;
    }
    
    .buttonItem{
        width: 20%;
        height: 3em;
        margin: 2em;
    }
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainTitle{
    width: 100%;
    height: 100%;
    padding: 16px;
    border-bottom: solid 1px #B9A48C;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-family: "imprint MT shadow";
      }
}
.cardMain{
    width: 80%;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .icon{
        width: 8%;
        height: 100%;
        padding: 16px;
        margin-right: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: #B9A48C;
            svg{
                width: 48px;
                height: 48px;
                color: white;
            }
        
    }
    .text{
        width: 80%;
        height: 100%;
        padding: 16px;
        display: flex;
        text-align: left;
        flex-direction: column;
    }
}
